In [1]:
import pandas as pd

df_WD = pd.read_csv('df_result_WD.csv', index_col=0)
df_ML = pd.read_csv('df_result_ML.csv', index_col=0)

In [3]:
df_WD.sort_values(by='Centrality', inplace=True, ascending=False)
df_WD.reset_index(drop=True)

            Account_name    Degree  betweenness  closeness  Centrality
0           dalinhuang99  0.296079     0.293384   0.546158    1.135621
1                 nfultz  0.197471     0.186831   0.530756    0.915058
2             addyosmani  0.115772     0.058213   0.477202    0.651187
3                Bunlong  0.098067     0.063212   0.484881    0.646160
4      gabrielpconceicao  0.082674     0.043265   0.467030    0.592969
...                  ...       ...          ...        ...         ...
27671            ribordy  0.000036     0.000000   0.000036    0.000072
27672    alittlebitweird  0.000036     0.000000   0.000036    0.000072
27673          Ph0enixxx  0.000036     0.000000   0.000036    0.000072
27674            oalsing  0.000036     0.000000   0.000036    0.000072
27675      chahatagarwal  0.000036     0.000000   0.000036    0.000072

[27676 rows x 5 columns]

In [4]:
df_ML.sort_values(by='Centrality', inplace=True, ascending=False)
df_ML.reset_index(drop=True)

        Account_name    Degree  betweenness  closeness  Centrality
0              rasbt  0.064872     0.116407   0.330994    0.512274
1           amueller  0.041050     0.065855   0.323678    0.430582
2             nd1511  0.028398     0.062945   0.337971    0.429314
3     sebastianruder  0.037147     0.066095   0.321137    0.424378
4        emaballarin  0.019112     0.047721   0.327367    0.394199
...              ...       ...          ...        ...         ...
7426      adilakhter  0.000135     0.000000   0.000135    0.000269
7427       AngeloKai  0.000135     0.000000   0.000135    0.000269
7428    jakehemmerle  0.000135     0.000000   0.000135    0.000269
7429   Joonsun-Hwang  0.000135     0.000000   0.000135    0.000269
7430       danalex97  0.000135     0.000000   0.000135    0.000269

[7431 rows x 5 columns]

In [5]:
df_WD.to_csv('df_WD.csv')
df_ML.to_csv('df_ML.csv')